#baggrund_forside {
  background-color: #8acaf2 !important;
  animation: dagnat 8s infinite;
}

@keyframes dagnat {
  0% {
    background-color: #6a9bba;
  }

  25% {
    background-color: #74aacd;
  }

  50% {
    background-color: #8acaf2;
  }

  75% {
    background-color: #79b1d3;
  }

  100% {
    background-color: #6a9bba;
  }
}

#background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("./images/baggrund_forside_01.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

#christine_figur {
  background-image: url("./images/christine.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 30%;
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}

#christine_figur:hover {
  background-image: url("./images/christine-klik.svg");
}

#ellie_figur {
  background-image: url("./images/ellie.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 8em;
  height: 20%;
  position: absolute;
  margin-top: 25%;
  margin-left: 20%;
}

#ellie_figur:hover {
  background-image: url("./images/ellie-klik.svg");
}

#sky1,
#sky2 {
  background-image: url("./images/sky.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 500px;
  position: absolute;
  z-index: -1;
  -webkit-animation: linear infinite;
}

#sky1 {
  -webkit-animation-name: sky1;
  -webkit-animation-duration: 22s;
  margin-top: 25%;
  margin-left: 50%;
}

#sky2 {
  -webkit-animation-name: sky2;
  -webkit-animation-duration: 16s;
  margin-top: 25%;
  margin-left: 10%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Venstre højre anim taget fra: https://stackoverflow.com/questions/41587802/css-animation-from-left-to-right */
@-webkit-keyframes sky1 {
  0% {
    left: 0;
  }

  50% {
    left: 10%;
  }

  100% {
    left: 0;
  }
}

@-webkit-keyframes sky2 {
  0% {
    left: 0;
  }

  50% {
    left: 10%;
  }

  100% {
    left: 0;
  }
}

#sun {
  background-image: url("./images/sol.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16em;
  height: 40%;
  position: absolute;
  margin-top: 20%;
  z-index: 0;
  -webkit-animation: linear infinite;
  -webkit-animation-name: sol;
  -webkit-animation-duration: 8s;
}

/* bue-animation taget fra: https://codepen.io/kaista/pen/pLKRev */
@-webkit-keyframes sol {
  0% {
    left: -15%;
  }

  25% {
    transform: translate(-40%, -40%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  75% {
    transform: translate(-40%, -40%);
  }

  100% {
    left: 100%;
    transform: translate(0%, 0%);
  }
}

/* Mobil baggrund */
@media (max-width: 992px) {
  #background {
    background-image: url("../tema_6/images/baggrund_forside_01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
